@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1 style="text-align:center;font-family:sans-serif">About Us</h1>
<div style="width: 70%; display: block; margin-left: auto; margin-right: auto;  ">
    <img src="https://www.nawaloka.com/image/catalog/information/about-us-image.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 70%;" />
    <hr />
    <br />
    <p align="justify" style="font-family:sans-serif;font-size:large">
        <b>Medicare</b> is a health care private organization started in 2000. As Sri Lanka’s first premier multi-specialty hospital, Medicare was set up to mirror reputed hospitals in the region which offered advanced medical technology and expert medical care, thus eliminating the need for people to travel out of Sri Lanka for specialized medical treatment.
        <br />
        <br />

        The Hospital was a pioneering initiative, established under the Chairmanship of Late Deshamanya H. K. Dharmadasa, to be a centre of excellence in high technology diagnostic and curative facilities. Driven by the Vision to be the Hospital of Tomorrow, the medical institution has come to be known as a centre of excellence and a preferred healthcare institution in the country.
    </p>
    <table style="display: block; margin-left: auto; margin-right: auto; ">
        <tr>
            <td style="background-color: lightskyblue; color: purple"><h2 style="text-align:center"><b>Our Vision</b></h2></td>
            <td style="background-color: lightskyblue; color: purple"><h2 style="text-align:center" "><b>Our Mission</b></h2></td>
        </tr>
        <tr>
            <td><h3 style="text-align:center">“To be the foremost and preferred Private Healthcare Facility in the Country, which will serve the Nation and her People to build a healthier community.”</h3></td>
            <td><h3 style="text-align:center">“To maintain exceptional and compassionate quality while offering cost effective healthcare solutions of international standards.“</h3></td>
        </tr>
    </table>
    <hr />
    <h2 style="color:purple">
        <b> Our facilities & services</b>
    </h2>
    <p align="justify" style="font-style:italic ; font-size:medium;font-family:'Times New Roman'">
        Medicare is a 350-bed multi-specialty tertiary care hospital spread over 350,000 square feet with 7 acres of beautifully landscaped garden. It offers state of the art features that is complemented by cutting edge technology and is staffed by a well-experienced and trained team. We provide a complete range of the latest diagnostic and high-end medical technology. Our 11-storey structure is complete with a helipad and is the only private medical facility in Sri Lanka equipped for air-ambulance services.
        <br />        <br />

        We persist towards delivering excellence and dependable healthcare. The Hospital employs a multi-pronged strategy aimed at realizing four core pillars; best medical care, best customer care, process enhancements across functions, and affordability aimed at accelerated our journey towards becoming a hospital and a corporate that is truly world-class.
        <br />        <br />

        Our team of medical professionals are a strategic blend of Sri Lankan and internationally qualified and trained doctors who are at the forefront of their medical specialty. Our customers can rest assured in the knowledge that they will be cared for by the best specialists in the country. We offer crucial emergency care, laboratory and testing services, pharmacy and other vital services around the clock for patients seeking urgent medical attention.



    </p>

    <hr />
    <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4047329.221962244!2d80.7061035071877!3d7.845783199886115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae2595d405e9551%3A0xc2671d759be8ce7e!2sMedicare%20Services%20(Pvt)%20Ltd!5e0!3m2!1sen!2slk!4v1632138612828!5m2!1sen!2slk" width="400" height="350" style="display: block; border: 0; margin-left: auto; margin-right: auto; " allowfullscreen=""></iframe>
    <br />
</div>
