@{
    ViewBag.Title = "Home";
}

<div class="container">
    @Html.Partial("IndexCarousel")
</div>

<div class="px-4 py-5 my-5 text-center shadow-lg">
    <img class="d-block mx-auto mb-1" src="~/Content/Logos/Logo.png" alt="" width="96" height="96">
    <h1 class="display-3 fw-bold">Medicare</h1>
    <h3 class="">Our Commitment to Safe Care</h3>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            We're here when you need us. For everyday care or life-changing care, you can count on us to keep you and your loved ones safe and healthy.        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
        </div>
    </div>




</div>