
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-3">Services</h2>

<h4><b>GENERAL MEDICINE</b></h4>
<p>Our general medicine department attends to various types of medical emergencies such as heart attacks, strokes, acute liver and kidney ailments, infections,dengue fever, meningitis, pneumonia amongst others as well as a range of chronic medical problems such as osteoarthritis, Rheumatoid arthritis, Asthma,Hypertension, Diabetes, and long-standing kidney/liver problems. Additionally, a number of subspecialists that include Cardiology, Neuro, Kidney, Liver,Lung, Microbiology amongst others are available on call to aid General Physicians 24 hours a day in providing medical relief and the best of care.</p>
<br />
<h4><b>EMERGENCY SERVICES</b></h4>
<p> With minimal waiting times and a dedicated unit employs the services of experienced doctors of all specialties of medicine.We offer Emergency care,and have a team of highly qualified doctors and nurses who attend to the needs of both walk-in patients and ambulance evacuees to the hospital.</p>
<ul>
    <li>24-hour emergency care equipped by qualified doctors and experienced caregivers, for both walk-in patients and ambulance evacuees.</li>
    <li>24-hour on-call specialists</li>
    <li>Mini theatre for minor surgeries</li>
    <li>Medico-legal cases accepted</li>
    <li>Specialised treatment for emergency cases of accidents, chest pains, burns, poisoning, etc</li>
    <li>
        Availability of a 24 hour mini pharmacy dedicated for our Accident and Emergency Services unit
    </li>
</ul>
<br />
<h4><b>DERMATOLOGY</b></h4>
<p>The skin, hair and nails are the mirrors of good health for every person. If they fail to shine and look healthy, then looking your best is compromised.That’s why at our Dermatology Department, our specialist dermatologists take painstaking measures to give you that glow.</p>
<ul>
    <li>Cauterization of warts, skin tags, fibromas</li>
    <li>Evulsion of milia and comedones</li>
    <li>Incision and Drainage of Acne Cysts Skin Biopsy</li>
    <li>Liquid Nitrogen treatment</li>
    <li>Whole body check for skin cancer</li>
    <li>Acne treatment </li>
</ul>
<br />
<h4><b>DENTAL CLINIC</b></h4>
<p>Our Dental Clinic puts perfect smiles on our patient’s faces. Our state of- the-art facility offers dentistry as well as cosmetic dentistry,enhancing your quality of life and giving you healthy and beautiful teeth at an affordable price. Our Clinic provides preventive, cosmetic,prosthetic and periodontal dentistry and also performs more complex oral surgeries.</p>
<ul>
    <li>General dental treatment</li>
    <li>Minor restoration</li>
    <li>Endodontics</li>
    <li>Cosmetic dentistry</li>
    <li>Teeth whitening</li>
    <li>Oral surgery</li>
    <li>Prosthetics</li>
</ul>
<br />
<h4><b>ENT CENTRE</b></h4>
<p>Our ENT Centre has broken a new ground in many complex ENT procedures. We provide specialised ENT care with comprehensive ENT therapyand surgery under one roof.</p>
<ul>
    <li>Endoscopic sinus surgery</li>
    <li>Endonasal surgery beyond sinuses</li>
    <li>Laryngology, head and neck</li>
</ul>
<br />
<h4><b>PHYSIOTHERAPY</b></h4>
<p>We practice only thoroughly validated therapies through consultation with our physicians who work closely with our therapists to offer you the bestphysiotherapy.</p>
<ul>
    <li>Neurological, orthopedic and cardiac rehabilitation for out patients and in patients.</li>
    <li>Antenatal and post natal programs.</li>
    <li>Electrotherapy modalities such as: Ultrasound – for plantar fascitis, soft tissue injuries – sprain and strain</li>
    <li>Short wave diathermy – arthritis, PIVD etc.</li>
    <li>Interferential therapy – for conditions like para-spinal muscle spasm, neck pain etc.</li>
</ul>
<br />
<h4><b>FERTILITY CENTRE</b></h4>
<p>Our Fertility Centre has made the miracle of parenthood a reality for couples that had lost hope of ever cradling a bundle of joy in their arms. Our purpose in life is to make your dreams a reality and our journey is rewarded by the joy that surrounds every birth. We understand the worry and stress that accompanies fertility treatment and that is why our Fertility Centre is equipped with the latest equipment and offers a wide array of fertility procedures.</p>
<ul>
    <li>Sub-fertility Counselling</li>
    <li>Follicular Monitoring Scan</li>
    <li>Semen Analysis (SFA)</li>
    <li>Intrauterine Insemination (IUI)</li>
    <li>In Vitro Fertilisation (IVF)</li>
    <li>Intra Cytoplasmic Sperm Injection (ICSI)</li>
    <li> Testicular Sperm Aspiration (TESA)</li>
</ul>
<br />
<h4><b>EYE CLINIC</b></h4>
<p>With a dedicated team of local and foreign consultant ophthalmologists, highly trained nurses and access to the most up-to-date technology, our Eye Clinic is the only private eye clinic in Sri Lanka to offer a complete range of services in one central location.Both foreign and local, internationally trained ophthalmologists, supported by and the very latest technologies are on hand</p>
<ul>
    <li>Routine eye check</li>
    <li>Cataract surgery (IOL/Multifocal IOL</li>
    <li>Lasik/CK laser surgery for far/ near vision correction</li>
    <li>Glaucoma evaluation and treatment</li>
    <li>Diabetic eye clinic services</li>
</ul>
<br />
<h4><b>KIDNEY CARE CENTER</b></h4>
<p>The Lanka Hospitals Kidney Care Centre offers comprehensive and specialised care for kidney diseases, with dialysis and kidney transplants performed by the best and most respected nephrologists in the country. Our Kidney Care Centre has earned a reputation as a Centre of Excellence in Sri Lanka that not only focuses on maintenance of kidney function but also as a Centre that seeks a complete cure for patients.</p>
<ul>
    <li>Haemodialysis – (Adult and paediatric)</li>
    <li>Peritoneal dialysis</li>
    <li>Adult and Paediatric kidney transplants</li>
    <li>Lanka Hospitals Department of Transfusion medicine lab is the only lab in the private sector that is equipped to undertake tissue typing and tissue cross match (HLA)</li>
    <li>Sophisticated DTPA facilities (with the support of Department of Nuclear Medicine)</li>
    <li>CRRT machine for dialysis of cardiac patients.</li>
    <li>Counselling for transplant patients and donors</li>
    <li>Budgeted dialysis package for Sri Lankans</li>
</ul>
<br />
<h4><b>MOTHER & BABY CARE</b></h4>
<p>Our Mother & Baby Care Center provides a personalized birth experience for every expecting family, a distinctive clinic for you and your bundle of joy.  The unit provides comprehensive and convenient care from conception, through pregnancy and delivery, to post-natal and pediatric treatment and provides the comforts of home with the security of current technology.</p>
<ul>
    <li>Latest sophisticated diagnostic tools to monitor the fetus</li>
    <li>Modern birthing centre</li>
    <li>Private labour suites allow the partner to be present at the time of delivery in a family atmosphere</li>
    <li>Superior theatre facilities and theatre availability for emergencies</li>
    <li> World class neonatal ICU located next to the maternal ward</li>
    <li>Sophisticated laboratory department</li>
    <li>Constant monitoring by well experienced doctors</li>
    <li>In-house gynaecologists are available on call in the day or night</li>
    <li> On call doctor facilities are available in case of an emergency</li>
    <li>Skilled, well-disciplined staff specially trained in mother and baby care</li>
</ul>