@if (Medicare.Models.SessionHandler.IsUserApprovedDoctor(Session))
{
    <div class="mb-3">
        <h4>Doctor</h4>
        <div class="list-group">
            <a href="/appointments/mine" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">View my appointments</h6>
                        <p class="mb-0 opacity-75">View appointments that patients have made.</p>
                    </div>
                </div>
            </a>
            <a href="/articles/create" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">Write new article</h6>
                        <p class="mb-0 opacity-75">Write an article for the readers.</p>
                    </div>
                </div>
            </a>
            <a href="/articles/mine" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">View my articles</h6>
                        <p class="mb-0 opacity-75">View and manage your articles.</p>
                    </div>
                </div>
            </a>
        </div>
    </div> @Html.Partial("_DashboardUser")

}
else
{

    <div class="alert alert-warning" role="alert">
        Awaiting athorization from system administrator.
    </div>
}