

<div class="mb-3">
    <h4>Manage doctors</h4>
    <div class="list-group">
        <a href="/admin/doctors" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">View doctors</h6>
                    <p class="mb-0 opacity-75">View and manage registered doctors.</p>
                </div>
            </div>
        </a>
        <a href="/admin/DoctorAuth" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Authorize doctors</h6>
                    <p class="mb-0 opacity-75">Authorize newly registered doctors.</p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="mb-3">
    <h4>Manage patients</h4>
    <div class="list-group">
        <a href="/admin/patients" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">View patients</h6>
                    <p class="mb-0 opacity-75">View and manage registered patients.</p>
                </div>
            </div>
        </a>

    </div>
</div>
<div class="mb-3">
    <h4>Appointments</h4>
    <div class="list-group">
        <a href="/admin/appointments" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">View appointments</h6>
                    <p class="mb-0 opacity-75">View and manage appointments.</p>
                </div>
            </div>
        </a>

    </div>
</div>
<div class="mb-3">
    <h4>Charts</h4>
    <div class="list-group">
        <a href="/Charts" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">View charts</h6>
                    <p class="mb-0 opacity-75">View detailed charts.</p>
                </div>
            </div>
        </a>

    </div>
</div>
