
<div class="mb-3">
    <h4>Patient</h4>
    <div class="list-group">
        <a href="/appointments/create" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Create new appointment</h6>
                    <p class="mb-0 opacity-75">Schedue an appointment with our doctors.</p>
                </div>
            </div>
        </a>
        <a href="/appointments/" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">View my appointment</h6>
                    <p class="mb-0 opacity-75">Appointments that you sheduled with our doctors.</p>
                </div>
            </div>
        </a>
    </div>
</div>
@Html.Partial("_DashboardUser")

