@model IEnumerable<Medicare.Models.Article>

@{
    ViewBag.Title = "My Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>
<h2>Your articles</h2>
@if (Model.Count() == 0)
{
    <h5>You have not published any articles yet.</h5>
}
else
{
    <table class="table table-hover table-striped table-responsive ">
        <tbody>
            @foreach (Medicare.Models.Article article in Model)
            {
                <tr class="clickable-row" data-href='/articles/view/@article.Id'>
                    <td>@article.Title</td>
                    <td style="text-align:right">@article.Time.ToString("yyyy MMM dd hh.mm tt")</td>
                </tr>
            }
        </tbody>
    </table>


}
