
@{
    ViewBag.Title = "ServerError";
    Layout = "~/Views/Shared/_Layout.EmptyBody.cshtml";
}

<body style="height:100%;background-color:#eeeeee;">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4 w-50" src="~/Content/ErrorCodes/500.png" alt="">
        <h1 class="display-5 fw-bold">Server error</h1>
        <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a class="btn btn-primary btn-lg gap-3 mt-3" href="\">Go to homepage</a>

            </div>
        </div>
    </div>

</body>
